<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/structure.css}">
</head>
<body>
    <div th:fragment="header" class="admin__header">
        <nav>
            <a th:text="#{settings.general.projectname}"></a>
            <button>
                <span></span>
            </button>
            <div>
                <ul>
                    <li>
                        <a href="/" th:text="#{views.menu.home}"></a>
                    </li>
                    <li>
                        <a href="/student/" th:text="#{views.menu.student}"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>