<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/login.css}">
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
     <div class="alert alert-dismissible alert-danger" th:if="${param.error}">
         <a href="/login" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         Invalid username and password.
    </div>
    <div class="alert alert-dismissible alert-danger" th:if="${param.logout}">
        <a href="/login" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        You have been logged out.
    </div>
    <form class="form-horizontal" th:action="@{/login}" method="post">
        <div>
            <label> Login (login: root)
                <input class="form-control fadeInDown second" type="text" name="username" placeholder="login"/>
            </label>
        </div>
        <div>
            <label> Password (hasło: root)
                <input class="form-control fadeInDown third" type="password" name="password" placeholder="password"/>
            </label>
        </div>
        <div>
            <input class="btn btn-primary fadeInDown fourth" type="submit" value="Sign In"/>
        </div>
    </div>
    </form>
</div>
</body>
</html>