<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/structure.css}">
    <meta charset="UTF-8">
    <title>Strona startowa Paweł Trochimiak</title>
</head>

<body class="admin">
    <div class="admin__header" th:insert="fragments/header :: header"></div>
    <div class="admin__nav" th:insert="fragments/sidebarMenu :: sidebarMenu"></div>

    <div class="admin__main">
        <form th:action="@{/student/}" method="get">
            <button type="submit" id="submitButton" class="btn-primary" th:text="#{views.button.start}"></button>
        </form>
    </div>
</body>
</html>